{% extends "layout.html.twig" %}

{% block navlink %}
<li class="nav-item active">
    <a class="nav-link" href="{{ app.url_generator.generate('ListRecall') }}">List Recall <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ app.url_generator.generate('AddRecall') }}">Add Recall <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/moreRecall/1">More Recall <span class="sr-only">(current)</span></a>
</li>
{% endblock %}


{% block content %}
<div class="container">

    <div class="form-group d-block mx-auto text-center" style="width: 300px; margin-top: 25px;">
        <form method="post">
            <label for="exampleSelect1">Sorting</label>
            <select class="form-control" id="exampleSelect1" name="select" style="height: 57px;">
                <option value="default">select sorting</option>
                <option value="ascending">sorting ascending likes and dates</option>
                <option value="descending">sorting descending the likes and dates</option>
            </select>
            <input type="submit" class="btn btn-primary btn-block" name="sort" style="margin-top: 5px" value="SORT">
        </form>
    </div>

    {% for k in 0..count %}
        <div class="messages" style="padding-top: 20px">
            <div class="card card-default">
                <div class="card-body">
                    <h3 class="card-title">
                        <span>{{ results[k]['author'] }}</span>
                        <div class="float-right">
                            <span class="badge badge-info" style="font-size: 12px; margin-top: 10px; margin-right: 5px">{{ results[k]['created_at'] }}</span>
                        </div>
                    </h3>
                    <div>
                        {{ results[k]['text'] }}
                    </div>
                    <div class="float-right" id="like">
                        <span class="badge badge-dark" style="font-size: 12px;">{{ results[k]['likes'] }}</span>
                        <span><i class="like fa fa-heart-o" id="like-icon" db-id="{{ results[k]['id'] }}" style="font-size: 18px; margin-top: 10px; color: black" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="d-block mx-auto">
                    <a href="/moreRecall/{{ results[k]['id'] }}" class="btn btn-success" name="more" style="margin-bottom: 5px; width: 200px" id-recall="{{ results[k]['id'] }}">MORE</a>
                </div>
            </div>
        </div>
    {% endfor %}




</div>
{% endblock %}


