{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="messages" style="padding-top: 20px">
            <div class="card card-default">
                <div class="card-body">
                    <h3 class="card-title">
                        <span>{{ results[0]['author'] }}</span>
                        <div class="float-right">
                            <span class="badge badge-info" style="font-size: 12px; margin-top: 10px; margin-right: 5px">{{ results[0]['created_at'] }}</span>
                        </div>
                    </h3>
                    <div>
                        {{ results[0]['text'] }}
                    </div>
                    <div class="float-right" id="like">
                        <span class="badge badge-dark" style="font-size: 12px;">{{ results[0]['likes'] }}</span>
                        <a href="#"><i class="like fa fa-heart-o" id="like-icon" db-id="{{ results[0]['id'] }}" style="font-size: 18px; margin-top: 10px; color: black" aria-hidden="true"></i></a>
                    </div>
                </div>
                <form method="post" class="d-block mx-auto">
                    <input type="submit" class="btn btn-dark" name="EARLY" value="EARLY" style="margin-bottom: 5px; width: 200px">
                    <input type="submit" class="btn btn-dark" name="NEXT" value="NEXT" style="margin-bottom: 5px; width: 200px">
                </form>
            </div>
        </div>
    </div>
{% endblock %}